.header {
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    color: white;
    z-index: 1000;
}

.logo_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo_container h1 {
    font-size: 1.7rem;
}

.logo {
    background: url("../../public/favicon.ico");
    background-size: contain;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: 15px;
    transition: transform 0.2s ease-in-out;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 20px;
    transition: color 0.2s ease-in-out;
}

.header nav a:hover {
    color: rgb(192, 192, 192);
}

.header nav .active {
    color: rgb(192, 192, 192)
}

.sub_header {
    background: #1C1C1C;
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: visible;
}

.points {
    background: url("../../public/images/points.svg");
    background-position: center;
    background-size: cover;
    filter: brightness(0.35);
    width: 110%;
    height: 80vh;
    z-index: 100;
    position: absolute;
}

.rounds {
    background: url("../../public/images/rounds.svg");
    background-position: center;
    background-size: cover;
    filter: brightness(0.35);
    width: 120%;
    height: 100%;
    z-index: 100;
    position: relative;
    left: -10%;
}

.v {
    width: 100%;
    height: 50vh;
    z-index: 101;
    position: relative;
    transform: translateY(-130%);
    margin-top: 110px;
}

.vcolor {
    fill: white;
}


@media only screen and (max-width: 600px) {
    .logo_container {
        display: none;
    }

    .sub_header {
        width: 100%;
        height: 60vh;
    }

    .v {
        width: 100%;
        height: 25vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}