.about_me_title {
    position: relative;
    width: 150px;
    margin: 20px auto;
    color: #101010;
    font-weight: 700;
}

.about_me_title::after {
    content: "";
    width: 50%;
    position: absolute;
    height: 5px;
    background: rgb(41, 41, 41);
    border-radius: 10px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.projects_container {
    display: flex;
    width: 100%;
    height: 1000px;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.projects {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.projects:nth-child(1) .projects_img {
    background: url("/images/latelierburger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 445px;
    height: 250px;
    box-shadow: 0px 5px 16px 1px rgba(0,0,0,0.74);
}

.projects:nth-child(2) .projects_img {
    background: url("/images/palamazon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 445px;
    height: 250px;
    box-shadow: 0px 5px 16px 1px rgba(0,0,0,0.74);
}

.projects:nth-child(3) .projects_img {
    background: url("/images/portfolio.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 445px;
    height: 250px;
    box-shadow: 0px 5px 16px 1px rgba(0,0,0,0.74);
}

.projects_text {
    width: 350px;
    height: auto;
}

.projects_text h2 {
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.projects_text h2::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background: rgb(41, 41, 41);
    border-radius: 10px;
    bottom: -7px;
    left: 0;
}